<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>nil</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="nil" />
    <meta name="description" content="hello fucking kitty" />
    <meta name="keywords" content="keywords" />
    <meta name="application-name" content="application-name" />

    <link rel="icon" href="../static/images/app.ico">

    <script src="../static/js/jquery-3.2.1.js"></script>

    <!-- Icons ========================================================================= -->
    <!-- <link href="../static/bootstrap/css/icons.css" rel="stylesheet" /> -->
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="../static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <!-- <link href="../static/bootstrap/css/plugins.css" rel="stylesheet" /> -->
    <!-- Main stylesheets (template main css file) -->
    <!-- <link href="../static/bootstrap/css/main.css" rel="stylesheet" /> -->
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <!-- <link href="../static/bootstrap/css/custom.css" rel="stylesheet" /> -->
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
    <!-- ================================================================================= -->

</head>

<body>

    <div class="center-block" >
    <form class="center-block" action="/formhello/" class="form-signin" method="get">
        say what you want to say:  <input type="text" name="ryougi">
        <button class="btn btn-sm btn-primary" type="submit">say</button>
    </form>
    </div>
    <p>ryougi:
        <input type="text" id="a" name="a">
        <!-- <input type="text" id="b" name="b"> -->
        <p>result:
            <span id='result'></span>
        </p>
        <button type="button" class="btn btn-sm btn-primary" id='ab'>shiki</button>
    </p>

    <script>

        $(document).ready(function () {
            // 求和 a + b
            $("#ab").click(function () {
                var a = $("#a").val();
                $.ajax({
                    type: "get",
                    url: "/ajaxhello/",
                    data: { 'shiki': a },
                    success: function (ret) {
                        $('#result').html(ret);
                    }
                })
            });
        });
    </script>

</body>
